@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}
p{
    font-weight: 400;
}
.wrapper{
    width: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}
/*=========================
    Header Part
=========================*/
header{
    background-color: #2D25A0;
    padding: 20px 0;
}
header .container{
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.header-part-single h1{
    font-size: 64px;
    width: 90%;
    margin-bottom: 20px;
}
.header-part-single img{
    width: 100%;
}
.watch-btn{
    background-color: #E02C6D;
    color: floralwhite;
    text-decoration: none;
    padding: 10px 20px;
}
.watch-btn i{
    padding-left: 15px;
}
/*=========================
    All Players
=========================*/
.all-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player-single{
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin: 15px;
}
.player-single img{
    width: 100%;
}
.player-single h2{
    font-size: 28px;
    line-height: 40px;
    margin: 16px 0 10px 0;
}
.player-single p{
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
}
/*=========================
    Footer Section
=========================*/
.footer-section{
    margin: 0 auto;
    width: 45%;
    text-align: center;
}
.footer-section img{
    width: 100%;
}
.social-icon{
    font-size: 40px;
}
.social-icon a{
    line-height: 55px;
    padding: 15px;
}
.fa-youtube{
    color: #f00;
}
.fa-instagram{
    content: "\f16d";
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    padding: 0 3px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-dribbble{
    color: #f03a80;
}
.fa-twitter{
    color: #00b8ff;
}
.copy-right{
    padding-top: 20px;
}
/*=========================
    Media Query
=========================*/
@media only screen and (max-width:668px){
    .container{
        width: 90%;
    }
    header .container{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2em;
    }
    .header-part-single h1{
        font-size: 36px;
    }
    /* All Players */
    .all-players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .player-single{
        margin: 10px 0;
    }
    /* Footer Section */
    .footer-section{
        width: 85%;
    }
    .social-icon a{
        font-size: 25px;
        padding: 0;
    }
}